
.logo
  font-family "Trebuchet MS", Arial, Helvetica, sans-serif
  text-align center



.account-form
  width 240px
  margin 0 auto
  .el-form-item
    .el-button
      width 240px

.account-footer
  margin 20px 0
  p
    text-align center
  a
    margin-left 5px

.account-border
  background-color #fff
  border 1px solid #e6e6e6
  border-radius 1px
  width 340px
